{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<script src="{% static 'chamu/home_trans.js' %}"></script>
<div class="bg_test">
      <img src="{% static 'chamu/sakura.jpg' %}" class="bg_test-img img1">
      <img src="{% static 'chamu/hanabi.jpg' %}" class="bg_test-img img2">
      <img src="{% static 'chamu/ityou.jpg' %}" class="bg_test-img img3">
      <img src="{% static 'chamu/yuki.jpg' %}" class="bg_test-img img4">
      <div class="bg_test-overlay"></div>
</div>
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <h2 class="mb-4 text-center">住みたい 日本ナビ</h2>
        <form id="main-info-form" method="post" novalidate>
            {% csrf_token %}
            {{ formset.management_form }}
            <!-- Hidden field to track next_action -->
            <input type="hidden" name="next_action" id="next_action_input" value="">
            {{ form.as_p }}
            <div class="d-flex justify-content-center gap-3">
                <button type="button" id="start-matching-btn" class="btn btn-outline-primary">次に住む地域探し</button>
                <button type="button" id="start-evaluation-btn" class="btn btn-outline-primary">住んでいる地域の評価</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Sử dụng Django template tags để tạo URL động
        const matchInfoUrl = "{% url 'match_info' %}";
        const evaluateInfoUrl = "{% url 'evaluate_info' %}";

        document.getElementById("start-matching-btn").onclick = function() {
            window.location.href = matchInfoUrl;
        };
        document.getElementById("start-evaluation-btn").onclick = function() {
            window.location.href = evaluateInfoUrl;
        };
    });
</script>
{% endblock %}