{% extends 'base.html' %}
{% load i18n %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <h2 class="mb-4 text-center">Where's next, JAPAN?</h2>
        <form id="main-info-form" method="post" novalidate>
            {% csrf_token %}
            {{ formset.management_form }}
            <!-- Hidden field to track next_action -->
            <input type="hidden" name="next_action" id="next_action_input" value="">
            {{ form.as_p }}
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="button" id="start-matching-btn" class="btn btn-outline-primary w-100">Start Matching Survey</button>
                <button type="button" id="start-evaluation-btn" class="btn btn-outline-primary w-100">Start Evaluation Survey</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Sử dụng Django template tags để tạo URL động
        const matchInfoUrl = "{% url 'match_info' %}";
        const evaluateInfoUrl = "{% url 'evaluate_info' %}";

        document.getElementById("start-matching-btn").onclick = function() {
            window.location.href = matchInfoUrl;
        };
        document.getElementById("start-evaluation-btn").onclick = function() {
            window.location.href = evaluateInfoUrl;
        };
    });
</script>
{% endblock %}