{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "About Municipality" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center mb-4">{{ municipality.name }}</h1>
            <p class="text-center text-muted">
                {% trans "In" %}: {{ prefecture.name }}
            </p>

            <div class="card mt-4">
                <div class="card-header">
                    {% trans "Basic Information" %}
                </div>
                <div class="card-body">
                    <p><strong>ID:</strong> {{ municipality.id }}</p>
                    <p><strong>{% trans "Description" %}:</strong> {% trans "Details information of the municipality." %}</p>
                    </div>
            </div>

            <div class="text-center mt-4">
                {% if user_info_id %}
                    <a href="{% url 'matching_results' user_info_id=user_info_id target_prefecture_id=prefecture.id %}" class="btn btn-secondary">
                        {% trans "Back to matching result page" %}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}