body {
    font-family: "Libertinus Serif", serif;
    font-weight: 400;
    font-style: normal;
}

label,
.navbar-brand {
    font-family: "Libertinus Serif", serif;
    font-weight: 700;
}

input[type="radio"] {
    display: none;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(256, 256, 256, 0.2);
    border-radius: 50%;
    background-color: #f8f9fa;
    color: #495057;
    transition: all 0.3s ease-in-out; 
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    letter-spacing: 2px;
}

table {
    border-collapse: collapse;
    width: 100%;
    background: linear-gradient(145deg, #ffffff, #f5f5f5); 
    border-radius: 12px;
    overflow: hidden; 
    box-shadow: 0 4px 45px rgba(0,0,0,0.4);
    transition: all 0.3s ease;
}



label:hover {
    background-color: #eef1f4;
    border-color: #dcdcdc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transform: translateY(-2px); 
}

input[type="radio"]:checked + label {
    background-color: #808080;
    color: #fff;
    border-color: #808080;
    box-shadow: 0 6px 12px rgba(2, 2, 2, 0.5); 
    transform: translateY(-5px) scale(1.01); 
}

h2 {
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 50px;
    background: linear-gradient(90deg, #b5b5b5, #5f5f5f); /* オレンジ系グラデ */
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    position: relative;
    animation: fadeInDown 1s ease-out forwards;
}


h2::after {
    content: "";
    display: block;
    width: 0;
    height: 4px;
    background: linear-gradient(90deg, #b2b2b2, #a3a19f);
    margin: 20px auto 0;
    border-radius: 20px;
    animation: expandBar 0.8s ease-out forwards;
    animation-delay: 0.5s;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes expandBar {
    to {
        width: 120px;
    }
}

button[type="submit"] {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #000000;
    font-size: 20px;

}


.question-block {
    margin-bottom: 40px;
    text-align: center;
}

.question-text {
    font-size: 1.3rem;
    font-weight: bold;
    color: #555;
    margin-bottom: 20px;
}

.rating-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.left-label {
    font-weight: bold;
    color: #2e8b57; 
}

.right-label {
    font-weight: bold;
    color: #8b5fbf; 
}

.rating-options {
    display: flex;
    gap: 10px;
}


th, td {
    padding: 14px;
    text-align: center;
    font-size: 1.1em;
    color: #444;
    border-bottom: 1px solid #ddd;
}


tbody tr:hover td {
    background-color: rgba(128, 128, 128, 0.5); 
    transition: background-color 0.25s ease; 
}

